@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager


<PageTitle>MyHomeBlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
      
        <article class="content px-4">
            @Body
        </article>
        @* <AuthorizeView>
                <RedirectToLogin />
            </NotAuthorized>
            <Authorized>
                @Body
            </Authorized>
        </AuthorizeView> *@
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>



@code {

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }
    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            // RedirectManager.RedirectTo(ReturnUrl);
            NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        }
    }
}
