@using System.Security.Claims
@implements IDisposable
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Identity
@using MyHomeBlazorApp.BlazorData
@inject SignInManager<MyHomeBlazorAppUser> SignInManager
@inherits LayoutComponentBase
@inject UserManager<MyHomeBlazorAppUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">My Home</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="() => ToggleNavMenu(true)">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink id="nav-item" class="nav-link" href="\" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="maindashboard">
                        <span class="oi oi-monitor" aria-hidden="true"></span> Main Dashboard
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="details">
                        <span class="oi oi-spreadsheet" aria-hidden="true"></span> Details
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="QrCoder">
                        <span class="oi oi-project" aria-hidden="true"></span> QrCoder
                    </NavLink>
                </div>
                <AuthorizeView Roles="Admin" Context="innerContext">

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="userManagement">
                            <span class="oi oi-people" aria-hidden="true"></span> Users Management
                        </NavLink>
                    </div>
                </AuthorizeView>
                <div class="nav-item px-3"  @onclick:stopPropagation="true">
                    <NavLink class="nav-link" role="button" @onclick="ToggleNavMenu">                        
                        <span class="oi oi-person" aria-hidden="true"></span> @context.User.Identity?.Name <Icon Name="IconName.CaretDownFill" />                        
                    </NavLink>
                    @if (!collapseNavMenu)
                    {
                        @* <ManageNavMenu /> *@
                        <nav class="flex-column">
                            <div class="nav-item px-3">
                                <NavLink class="nav-link dropdown-item" href="Account/Manage/Email" Match=@NavLinkMatch.All><span class="oi oi-person oi-vertical-align-sub" aria-hidden="true"></span>Email</NavLink>
                            </div>
                            <div class="nav-item px-3">
                                <NavLink class="nav-link dropdown-item" href="Account/Manage/ChangePassword" Match=@NavLinkMatch.All><span class="oi oi-person oi-vertical-align-sub" aria-hidden="true"></span>Password</NavLink>
                            </div>
                            <div class="nav-item px-3">
                                <NavLink class="nav-link dropdown-item" href="Account/Manage/TwoFactorAuthentication" Match=@NavLinkMatch.All><span class="oi oi-person oi-vertical-align-sub" aria-hidden="true"></span>Two-factor authentication</NavLink>
                            </div>
                            <div class="nav-item px-3">
                                <NavLink class="nav-link dropdown-item" href="Account/Manage/PersonalData" Match=@NavLinkMatch.All><span class="oi oi-person oi-vertical-align-sub" aria-hidden="true"></span>Personal data</NavLink>
                            </div>
                        </nav>
                    }
                </div>


                @* <div class="nav-item px-3 dropdown show">
                    <NavLink class="nav-link dropdown-toggle" @onclick="() => expandSubNavSettings = !expandSubNavSettings" id="navbarDropdown">
                        <span class="oi oi-person" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div> *@
                @* <div>
                    <Dropdown Color="DropdownColor.Secondary">
                        <DropdownToggleButton>Dropdown button</DropdownToggleButton>
                        <DropdownMenu>
                            <DropdownItem To="#" Type="DropdownItemType.Link">Action</DropdownItem>
                            <DropdownItem To="#" Type="DropdownItemType.Link">Another action</DropdownItem>
                            <DropdownItem To="#" Type="DropdownItemType.Link">Something else here</DropdownItem>
                        </DropdownMenu>
                    </Dropdown>
                </div> *@
                @*  @if (expandSubNavSettings)
                {
                    <div class="dropdown-menu show" aria-labelledby="navbarDropdown" @onclick="() => expandSubNavSettings = !expandSubNavSettings">
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="fetchdata">
                            <span class="oi oi-fork" aria-hidden="true"></span> Fetch
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="counter">
                            <span class="oi oi-command" aria-hidden="true"></span> Counter
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="home">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>

    </div>
                } *@
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    // Collapse collapseAccountSubMenu = default!;
    // private async Task ToggleContentAsync() => await collapseAccountSubMenu.ToggleAsync();
    // bool collapseNavMenuUserProfile = true;
    // private bool collapsNavSubMenu = true;
    // private string? NavMenuClass => collapseNavMenu ? "collapse" : null;
    bool[] showSubMenu = new bool[2];
    bool subMenu = false;
    private void ToggleNavSubMenu(int index)
    {
        for (int i = 0; i < showSubMenu.Length; i++)
        {
            if (i == index)
            {
                showSubMenu[i] = !showSubMenu[i];
            }
            else
            {
                showSubMenu[i] = false;
            }
        }

    }
    // private void NavigateToEmailPage()
    // {
    //     NavigationManager.NavigateTo("/Account/Manage/Email");
    // }
    // private bool expandSubNavSettings;


    // string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    // string NavMenuCssClassUserProfile => baseMenuClass + (collapseNavMenuUserProfile ? " collapse" : "");

    // void ToggleNavMenuUserProfile()
    // {
    //     if (!expandSubNavSettings)
    //     {
    //         collapseNavMenuUserProfile = !collapseNavMenuUserProfile;
    //     }


    // }


    private static bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        Console.WriteLine("ToggleNavMenu: " + collapseNavMenu);
    }

    private void ToggleNavMenu(bool collapse)
    {
        collapseNavMenu = collapse;
        Console.WriteLine("ToggleNavMenu(bool): " + collapseNavMenu);
    }

    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        if (!currentUrl.Contains("Account"))
        {
            collapseNavMenu = true;
        }
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}


