<Button style="margin:5px" Class="buttonsNextPreviuos" @onclick="ButtonEvent" Disabled="@Disabled">@ButtonName</Button>

<style>

    .buttonsNextPreviuos {
    align-items: flex-end;
    background-color: white;
    background-position: 0 0;
    border: 1px solid black;
    border-radius: 11px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: right;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
    }

    .buttonsNextPreviuos:active,
    .buttonsNextPreviuos:hover,
    .buttonsNextPreviuos:focus {
    outline: 0;
    }


    .buttonsNextPreviuos:active {
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
    }

    .buttonsNextPreviuos:hover {
    background-color: black;
    border-color: black;
    color: white;
    }

    .buttonsNextPreviuos:active:hover,
    .buttonsNextPreviuos:focus:hover,
    .buttonsNextPreviuos:focus {
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
    }
</style>


@code {
    [Parameter]
    public EventCallback ButtonEvent { get; set; }
    [Parameter]
    public string? ButtonName { get; set; }
    [Parameter]
    public bool Disabled { get; set; }
}
