<Button Color="ButtonColor.Primary" Class="ButtonCloseCancel" @onclick="@ButtonEvent" >@TextButton</Button>

<style>

    .ButtonCloseCancel {
    align-items: flex-end;
    background-color: white;
    background-position: 0 0;
    border: 1px solid #D33A2C;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: right;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
    }

    .ButtonCloseCancel:active,
    .ButtonCloseCancel:hover,
    .ButtonCloseCancel:focus {
    outline: 0;
    }


    .ButtonCloseCancel:active {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
    }

    .ButtonCloseCancel:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
    }

    .ButtonCloseCancel:active:hover,
    .ButtonCloseCancel:focus:hover,
    .ButtonCloseCancel:focus {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
    }
</style>

@code {
    [Parameter]
    public EventCallback ButtonEvent { get; set; }
    [Parameter]
    public string? TextButton { get; set; }
}