<Button Color="ButtonColor.Primary" Class="buttonSave" Type="ButtonType.Submit" @onclick="@ButtonEvent">Save</Button>

<style>
    .buttonSave {
        align-items: flex-end;
        background-color: white;
        background-position: 0 0;
        border: 1px solid #198754;
        border-radius: 11px;
        box-sizing: border-box;
        color: #198754;
        cursor: pointer;
        display: inline-block;
        font-size: 1rem;
        font-weight: 700;
        line-height: 33.4929px;
        list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
        padding: 2px 12px;
        text-align: right;
        text-decoration: none;
        text-shadow: none;
        text-underline-offset: 1px;
        transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        word-break: break-word;
    }

        .buttonSave:active,
        .buttonSave:hover,
        .buttonSave:focus {
            outline: 0;
        }


        .buttonSave:active {
            background-color: #198754;
            box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
            color: #FFFFFF;
        }

        .buttonSave:hover {
            background-color: #198754;
            border-color: #198754;
        }

        .buttonSave:active:hover,
        .buttonSave:focus:hover,
        .buttonSave:focus {
            background-color: #198754;
            box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
            color: #FFFFFF;
        }
</style>

@code {
    [Parameter]
    public EventCallback ButtonEvent { get; set; }
    
}
