<Modal @ref="deleteSuccessModal" Title="Deleted successfully">
    <BodyTemplate>
        @ObjectName was deleted successfully!
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
    </FooterTemplate>
</Modal>

@code {

    [Parameter]
    public Object? ObjectName {get; set; }
    private Modal? deleteSuccessModal { get; set; }

    private async Task OnHideModalClick()
    {
        await deleteSuccessModal.HideAsync();
    }

    public async Task OnShowModalClick()
    {
        await deleteSuccessModal.ShowAsync();
    }

}
