@using BlazorBootstrap
@inject BlazorData.DataService DataService
@using MyHome.Models


@if (currentDevice != null && currentDevice.DeviceID != DevicesListAsQueryable.First().DeviceID)
{
    <Button style="margin:5px" Color="ButtonColor.Primary" @onclick="OnModalDevicePreviuos">Previuos</Button>
}

//Should be Action buttons!!!!!
@if (currentDevice != null && currentDevice.DeviceID != DevicesListAsQueryable.Last().DeviceID)
{
    <Button style="margin:5px" Color="ButtonColor.Primary" @onclick="OnModalDeviceNext">Next</Button>
}

@code{
    [Parameter]
    public IQueryable<DeviceProfile>? DevicesListAsQueryable { get; set; }
    [Parameter]
    public int FirstListItemID { get; set; }
    [Parameter]
    public int LastListItemID { get; set; }
    [Parameter]
    public DeviceProfile? currentDevice {get;set;}
    

    private void OnModalDeviceNext()
    {
        int currentDeviceIndex = 0;
        List<DeviceProfile> allDevices = DevicesListAsQueryable.ToList();
        if (currentDevice != null)
        {
            currentDeviceIndex = allDevices.IndexOf(currentDevice);
            currentDevice = allDevices[currentDeviceIndex + 1];
            //one line code with linq
            // currentDevice = allDevices[(allDevices.IndexOf(currentDevice) + 1) % allDevices.Count];
        }
    }

    private void OnModalDevicePreviuos()
    {
        int currentDeviceIndex = 0;
        List<DeviceProfile> allDevices = DevicesListAsQueryable.ToList();
        if (currentDevice != null)
        {
            currentDeviceIndex = allDevices.IndexOf(currentDevice);
            currentDevice = allDevices[currentDeviceIndex - 1];
            //one line code with linq
            // currentDevice = allDevices[(allDevices.IndexOf(currentDevice) + 1) % allDevices.Count];
        }
    }
}