@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using MyHomeBlazorApp.BlazorData
@inject BlazorData.DataService DataService
@inject UserManager<MyHomeBlazorAppUser> UserManager
@inject SignInManager<MyHomeBlazorAppUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager


<PageTitle>Profile</PageTitle>

<StatusMessage />
<style>
    .card-style {
        display: flex;
        justify-content: center;
        background-color: #eeeff4;
        max-width: 20rem;
        margin-right: 50px;
        margin-top: 50px;
    }

    .card-btn {
        color: #2d2a2b;
        background-color: #cfd9e1;
        border-color: #1861ac;
        border-radius: 1.3rem;
        width: 50%;
    }

        .card-btn:hover {
            padding-left: 1rem;
            padding-right: 1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background: #e2c8c0;
            color: #2d2a2b;
        }

    .button .btn .btnprimary .card-btn .btn-rounded{
        width: 200px;
    }

    
</style>
<div>
    <Card Class="card-style">
        <CardBody>
            <CardTitle Class="text-center fw-bolder">
                Summary <Icon name="IconName.ListTask"></Icon>
            </CardTitle>
            <CardText>
                <ul>
                    <li>
                        Real Estates: @DataService.CurrentDbUserWithRealEstatesData().Result.RealEstates.Count()
                    </li>
                    <li>
                        Devices: @DataService.CurrentUserWithAllData.GetAllDevices().Count()
                    </li>
                </ul>                
            </CardText>
            <hr />
            <hr />
            <CardTitle Class="text-center fw-bolder">
                Profile <Icon name="IconName.BookmarkCheck"></Icon>
            </CardTitle>
            <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <input type="text" value="@username" class="form-control" placeholder="Please choose your username." disabled />
                <label for="username" class="form-label">Username</label>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                <label for="phone-number" class="form-label">Phone number</label>
                <ValidationMessage For="() => Input.PhoneNumber" class="text-danger" />
            </div>
                <div class="text-center">
                <button type="submit" class="btn btn-primary card-btn btn-rounded">
                    Save
                </button>
                </div>
            </EditForm>
        </CardBody>
    </Card>
</div>


@code {
    private MyHomeBlazorAppUser user = default!;
    private string? username;
    private string? phoneNumber;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        username = await UserManager.GetUserNameAsync(user);
        phoneNumber = await UserManager.GetPhoneNumberAsync(user);

        Input.PhoneNumber ??= phoneNumber;
    }

    private async Task OnValidSubmitAsync()
    {
        if (Input.PhoneNumber != phoneNumber)
        {
            var setPhoneResult = await UserManager.SetPhoneNumberAsync(user, Input.PhoneNumber);
            if (!setPhoneResult.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set phone number.", HttpContext);
            }
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
    }

    private sealed class InputModel
    {
        [Phone]
        [Display(Name = "Phone number")]
        public string? PhoneNumber { get; set; }
    }
}
