body {
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.grid {
    height: max-content;
    overflow-y: auto;
}

/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    background-color: #9ab4c4;
}

/* Subtle stripe effect */
::deep tr:nth-child(even) {
    background: #e9f3f7;
}

::deep .col-title {
    color: black;
    font-style: normal;
}

::deep .joinBtnCopy {
    background-color: #0A66C2;
    align-items: center;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    outline: 1px solid red;
}

.bodySection {
    background-image: url(/Images/freepik__retouch__10901.png);
    background-repeat: repeat;
    position: relative;
    /* background-size: cover; */
    background-position: center;
    position: relative; /* Needed for overlay positioning */
    height: 100vh;
}

    .bodySection::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.95); /* Dark overlay */
        z-index: 1;
    }

.bodySection-content {
    position: relative;
    z-index: 2; /* Place content above overlay */
}

::deep .addNew-btn {
    align-items: center;
    color: #6b6b6d;
    background-color: transparent;
    border: solid 2px #f1e1d8;
    border-radius: 1.3rem;
    
}

    ::deep .addNew-btn:hover {
        padding-left: 1rem;
        padding-right: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background: #e2c8c0;
        color: #2d2a2b;
    }

    ::deep .addNew-btn:focus, .addNew-btn:active:focus, .addNew-btn:focus {
        background: #09223b;
        color: rgb(255, 255, 255, .7);
        border: none;
        box-shadow: none;
    }

.oi {
    background-color: aquamarine;
    color: antiquewhite;
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
    background-size: cover;
    position: relative;
    display: inline-block;
    speak: none;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}


