body {
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.grid {
    height: max-content;
    overflow-y: auto;
}

/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    background-color: #9ab4c4;
}

/* Subtle stripe effect */
::deep tr:nth-child(even) {
    background: #e9f3f7;
}

::deep .col-title {
    color: black;
    font-style: normal;
}

::deep .joinBtnCopy {
    background-color: #0A66C2;
    align-items: center;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    outline: 1px solid red;
}

/*::deep .joinBtn {
    align-items: center;*/
/*background-color: #0A66C2;*/
/*border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;*/
/*}*/

::deep .addNew-btn {
    align-items: center;
    color: #6b6b6d;
    background-color: transparent;
    border: solid 2px #f1e1d8;
    border-radius: 1.3rem;
    
}

    ::deep .addNew-btn:hover {
        padding-left: 1rem;
        padding-right: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background: #e2c8c0;
        color: #2d2a2b;
    }

    ::deep .addNew-btn:focus, .addNew-btn:active:focus, .addNew-btn:focus {
        background: #09223b;
        color: rgb(255, 255, 255, .7);
        border: none;
        box-shadow: none;
    }

/*/*::deep.joinBtn:after {
    background-clip: padding-box;*/
    /*background-color: #1CB0F6;*/
    /*border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}*/
    /*::deep .joinBtn:focus, .btn:focus {*/
    /*background-color: #16437E;*/
    /*color: #ffffff;
    border: none;
    box-shadow: none;
}*/
    /*::deep .joinBtn:focus, .joinBtn:active:focus, .btn:focus {*/
    /*background: #09223b;*/
    /*color: rgb(255, 255, 255, .7);
    border: none;
    box-shadow: none;
}*/
    /*::deep .joinBtn:hover {*/
    /*background-color: #16437E;*/
    /*color: #ffffff;
    border: none;
}*/
    /*::deep.joinBtn:disabled {*/
    /*cursor: not-allowed;
        background: rgba(0, 0, 0, .08);
        color: rgba(0, 0, 0, .3);*/
    /*}*/
    /*button .test-btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

td.test-btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

.crazy-class {
    text-decoration-color: red;
}

::deep .quickgrid[theme=corporate] {
    font-family: 'Comic Sans MS', 'Times New Roman', serif;
    color: red;
}

    ::deep .quickgrid[theme=corporate] .col-title {
        gap: 0.4rem;*/ /* Separate the sort indicator from title text */
    /*font-weight: bold;
        text-transform: uppercase;
    }

    ::deep .quickgrid[theme=corporate] .sort-indicator {
        color: blue;
    }

    ::deep .quickgrid[theme=corporate] button.col-title:hover, ::deep .quickgrid[theme=corporate] .col-options-button:hover {
        background-color: hotpink;
    }

    ::deep .quickgrid[theme=corporate] button.col-title:active, ::deep .quickgrid[theme=corporate] .col-options-button:active {
        background-color: yellow;
    }


::deep .button-32 {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    ::deep .button-32:not(:disabled):hover,
    ::deep .button-32:not(:disabled):focus {
        outline: 0;
        background: #f4e603;
        box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
    }

    ::deep .button-32:disabled {
        filter: saturate(0.2) opacity(0.5);
        -webkit-filter: saturate(0.2) opacity(0.5);
        cursor: not-allowed;
    }

::deep .button-51 {
    background-color: transparent;
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 16px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    ::deep .button-51:hover,
    ::deep .button-51:active {
        outline: 0;
    }

    ::deep .button-51:hover {
        background-color: transparent;
        cursor: pointer;
    }

    ::deep .button-51:before {
        background-color: #D5EDF6;
        content: "";
        height: calc(100% + 3px);
        position: absolute;
        right: -7px;
        top: -9px;
        transition: background-color 300ms ease-in;
        width: 100%;
        z-index: -1;
    }

    ::deep .button-51:hover:before {
        background-color: #6DCFF6;
    }

@media (min-width: 768px) {
    ::deep .button-51 {
        padding: 8px 16px;
    }*/
    /*}*/
