body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom right, #e0f2fe, #f3e8ff); /* bg-gradient-to-br from-indigo-50 to-purple-100 */    
}
/* Custom gradient for header */
.header-gradient {
    /* background: linear-gradient(to right, #4c51bf, #6b46c1); /* from-indigo-700 to-purple-800 */
    background-color: transparent;
}
/* Custom hover effect for feature cards */
/* .feature-card:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
        } */
/* Button hover/focus effects */
.btn-hover-scale:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.btn-hover-scale:focus {
    box-shadow: 0 0 0 0.25rem rgba(100, 77, 182, 0.5); /* Custom focus ring color */
}

.btn-white-ring:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5); /* Custom white focus ring */
}

.btn-hero:hover {
    color: #d4bdb2;
}

main {
    flex: 1;
    overflow-x: auto;
    height: auto;
}

.main {
    flex: 1;
    overflow-x: auto;
    height: auto;
}

.nav-item {
    color: rgba(205,169,154,255);
}

a .text-primary {
    color: #95b4c6;
}

.btn-hero {
    color: #2d2a2b;
    background-color: #cfd9e1;
    border-color: #1861ac;
}

.hero-text {
    /* -webkit-text-stroke: 2px #353535; */
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 5rem;
    text-align: center;
    color: #403e40;
    font-family: "Showbiz Retro Superhero Font", sans-serif;
    /* text-shadow: 5px 5px 5px #07bccc, 10px 10px 0px #e601c0, 10px 20px 0px #e9019a, 25px 25px 0px #f40468, 45px 45px 10px #482896; */
    
}

.btn-light {
    color: rgba(149,180,205,255);
    /* background-color:rgba(149,180,205,255); */
}

.hero-background {
    background-image: url(/Images/d24e91fb-8837-4e8d-9584-8eb3a46f3f98.png); /* Placeholder image - Replace with your actual image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Needed for overlay positioning */
    color: #fff; /* Ensure text is white over dark background */
    height: 55vh;
}

    .hero-background::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.8); /* Dark overlay */
        z-index: 1; /* Place overlay above background image */
        /* height: 5%; */
    }

.hero-content {
    position: relative;
    z-index: 2; /* Place content above overlay */
}

.text-brand {
    font-family: 'Copperplate Gothic';
    font-weight: 100;
}


