@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Mvc
@using MyHome.Models;
@using MyHomeBlazorApp.BlazorData;
@using MyHome;
@using MyHomeBlazorApp.Pages
@using BlazorBootstrap
@using MyHomeBlazorApp.Components
@using MyHomeBlazorApp.Components.TabComponents
@using MyHomeBlazorApp.Shared
@using MyHomeBlazorApp.Components.Modals
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.WebUtilities
@using System.Threading.Tasks
@using System.Threading
@using My_Home
@inject NavigationManager uriHelper
@inject NavigationManager NavManager
@inject BlazorData.DataService DataService;
@inject IJSRuntime JSRuntime

@* @page "/Login" *@
<h3>Login</h3>
<p>C:\Users\shiranco.DESKTOP-HRN41TE\source\repos\MyHomeNew\MyHomeBlazorApp\Areas\Identity\Pages\Account\Login.cshtml</p>
<a asp-area="Identity" asp-page="/Account/Register">Register a New User</a>

@code {

}
