@page "/mobileDeviceInfo"
@page "/mobileDeviceInfo/{UserID:int}/{DeviceID:int}"


@using Microsoft.EntityFrameworkCore
@using MyHome.Models;
@using MyHome;
@using MyHomeBlazorApp.BlazorData
@using MyHomeBlazorApp.Components.Modals
@using MyHomeBlazorApp.Pages
@using MyHomeBlazorApp.Components.TabComponents
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@implements IDisposable
@inject PersistentComponentState ApplicationState
@inherits OwningComponentBase
@inject BlazorData.DataService DataService
@inject NavigationManager uriHelper
@inject NavigationManager NavManager
@inject SignInManager<MyHomeBlazorAppUser> SignInManager
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject UserManager<MyHomeBlazorAppUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IdentityUserAccessor UserAccessor
@inject MyHomeBlazorAppContext _dbcontext;

<h3>MobileDeviceInfo</h3>
<div class="w-25 p-3">
    <AddEditDeviceForm CurrentDevice="_currentDevice"
    CurrentUser="_userProfile">
    </AddEditDeviceForm>
</div>

@code {

    [Parameter]
    public int DeviceID { get; set; }
    [Parameter]
    public int UserID { get; set; }
    private UserProfile? _userProfile { get; set; }
    private DeviceProfile? _currentDevice { get; set; }
    private UserProfile? _currentUser { get; set; }
    private string? message;
    private DataService? DataServiceTest { get; set; }


    protected override void OnParametersSet()
    {
        try
        {
            int userID = int.Parse(System.Text.Encoding.UTF8.GetString(Convert.FromBase64String(UserID.ToString())));
            int deviceID = int.Parse(System.Text.Encoding.UTF8.GetString(Convert.FromBase64String(DeviceID.ToString())));

            UserProfile loggedInUser = DataService.CurrentAppUser.UserProfile;
            // Check if the URL ID matches the Logged In User's ID
            if (loggedInUser == null || userID != loggedInUser.UserID)
            {
                message = "Access Denied: This is not your device.";
                return;
            }
            else
            {
                _userProfile = loggedInUser;
                
            }

            _currentDevice = _userProfile.GetAllDevices().FirstOrDefault(d => d.DeviceID == deviceID);
            if(_currentDevice == null)
            {
                message = "Device not found.";
            }
        }
        catch (Exception ex)
        {
            message = "An error occurred while processing the device information.";
            Console.WriteLine($"Error in OnParametersSet: {ex.Message}");
        }
    }

    protected override void OnInitialized()
    {
        // currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        // NavigationManager.LocationChanged += OnLocationChanged;
        base.OnInitialized();
    }

}
