@page "/mdetails"
@page "/mdetails/{userID}/{deviceID}"


<h3>MobileDeviceInfo</h3>

@* implement here *@

@code {
    [Parameter]
    public int deviceID { get; set; }
    [Parameter]
    public int userID { get; set; }

}
