@page "/mobileDeviceInfo"
@page "/mobileDeviceInfo/{userID:int}/{deviceID:int}"
@attribute [Authorize]

@using MyHome.Models;
@using MyHome;
@using MyHomeBlazorApp.Components.Modals
@using MyHomeBlazorApp.Pages
@using MyHomeBlazorApp.Components.TabComponents
@inject BlazorData.DataService DataService

<h3>MobileDeviceInfo</h3>
<div class="w-25 p-3">
<AddEditDeviceForm CurrentDevice="_currentDevice"
                    CurrentUser="_userProfile">
                </AddEditDeviceForm>
</div>

@code {

    [Parameter]
    public int DeviceID { get; set; }
    [Parameter]
    public int UserID { get; set; }   
    private UserProfile _userProfile { get; set; }
    private DeviceProfile? _currentDevice { get; set; }


    protected override void OnParametersSet()
    {
        _userProfile = DataService.Users.First(d => d.UserID == UserID);
        _currentDevice = _userProfile.GetAllDevices().First(d => d.DeviceID == DeviceID);
    }

    // protected override void OnInitialized()
    // {
    //     _userProfile = DataService.Users.First(d => d.UserID == UserID);
    //     CurrentDevice = _userProfile.GetAllDevices().First(d => d.DeviceID == DeviceID);
    //     base.OnInitialized();
    // }

}
