@page "/mobileDeviceInfo"
@page "/mobileDeviceInfo/{UserID:int}/{DeviceID:int}"


@using Microsoft.EntityFrameworkCore
@using MyHome.Models;
@using MyHome;
@using MyHomeBlazorApp.BlazorData
@using MyHomeBlazorApp.Components.Modals
@using MyHomeBlazorApp.Pages
@using MyHomeBlazorApp.Components.TabComponents
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@implements IDisposable
@inject PersistentComponentState ApplicationState
@inherits OwningComponentBase
@inject BlazorData.DataService DataService
@inject NavigationManager uriHelper
@inject NavigationManager NavManager
@inject SignInManager<MyHomeBlazorAppUser> SignInManager
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject UserManager<MyHomeBlazorAppUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IdentityUserAccessor UserAccessor
@inject MyHomeBlazorAppContext _dbcontext;

<h3>MobileDeviceInfo</h3>
<div class="w-25 p-3">
    <AddEditDeviceForm CurrentDevice="_currentDevice"
                        CurrentUser="_userProfile">
    </AddEditDeviceForm>
</div>

@code {

    [Parameter]
    public int DeviceID { get; set; }
    [Parameter]
    public int UserID { get; set; }
    private UserProfile? _userProfile { get; set; }
    private DeviceProfile? _currentDevice { get; set; }
    private UserProfile? _currentUser { get; set; }
    private string? message;
    private DataService? DataServiceTest { get; set; }
    private UserProfile? _loadedUser { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        // 1. Wait for the Master Query to finish
        await DataService.LoadUserWithAllDataAsync();

        if (DataService.CurrentAppUser?.UserProfile != null)
        {
            _userProfile = DataService.CurrentAppUser.UserProfile;            
            _currentDevice = _userProfile.GetAllDevices()
                .FirstOrDefault(d => d.DeviceID == DeviceID);
            StateHasChanged();
        }
    }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            //Check if the service already has the user, if not, fetch it
            if (DataService.CurrentAppUser == null)
            {
                await DataService.LoadUserWithAllDataAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed to load user: {ex.Message}");
        }
    }

}
