@using MyHome
@using MyHomeBlazorApp.BlazorData
@using System.Text.Json
@inject BlazorData.DataService _dataService
@inject NavigationManager NavManager
@inject IJSRuntime JS
@inject IJSRuntime JSRuntime

@page "/qrPrinting"



@foreach (var device in Devices)
{
    <p>@device.DeviceName <img width="200" src="data:image/png;base64,@Convert.ToBase64String(Logic.GetQrCodeBytes(User.UserID, device.DeviceID))" /></p>
}
<Button Class="btn btn-primary" @onclick="PrintPage">Print</Button>




@code {

    public List<DeviceProfile>? Devices { get; set; } = new List<DeviceProfile>();    
    public UserProfile? User { get; set; }
    public byte[] image { get; set; }

    private async Task PrintPage()    {

        await JS.InvokeVoidAsync("window.print");
    }
    // C:\Users\shiranco.DESKTOP-HRN41TE\source\repos\MyHomeNew\MyHomeBlazorApp\Components\Account\Pages\Login.razor
    protected override async Task OnInitializedAsync()
    {
        var loadedUser = await _dataService.GetUserWithProfileAsync();
        if (loadedUser == null)
        {
            NavManager.NavigateTo("Account/Login", forceLoad: true);
            return;
        }
        else
        {
            User = loadedUser.UserProfile;
        }
       
        await base.OnInitializedAsync();

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Getting devices list from local storage on the new tab.
            var json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "printQueue");

            if (!string.IsNullOrEmpty(json))
            {
                Devices = JsonSerializer.Deserialize<List<DeviceProfile>>(json);

               // refresh the UI manually.
                StateHasChanged();
            }
        }
    }
}
