<Modal @ref="refModalDeleteSuccess" Title="Deletion Confirmation">
    <BodyTemplate>
        @ObjectName was deleted successfully!
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
    </FooterTemplate>
</Modal>

@code {
    [Parameter]
    public String? ObjectName { get; set; }
    private Modal? refModalDeleteSuccess { get; set; }

    private async Task OnHideModalClick()
    {
        await refModalDeleteSuccess.HideAsync();
    }

    public async Task OnShowModalClick()
    {
        await refModalDeleteSuccess.ShowAsync();
    }





}
