@using MyHomeBlazorApp.BlazorData
@using MyHomeBlazorApp.Components.TabComponents


<Modal @ref="modal">
    <FooterTemplate>
        <Button style="margin:5px" Color="ButtonColor.Primary" @onclick="OnHideModalEditDeviceClick">Close</Button>
        <Button Color="ButtonColor.Primary" Type="ButtonType.Submit" @onclick="SaveChanges">Save changes</Button>
    </FooterTemplate>
</Modal>
@* <Button Color="ButtonColor.Primary" @onclick="ShowEmployeeComponent">Show Employee Component</Button> *@

@code {
    [Parameter]
    public DeviceProfile CurrentDevice { get; set; } = new();
    [Parameter]
    public UserProfile CurrentUser { get; set; } = new();
    public Action SaveChanges;
    [Parameter]
    public EventCallback<bool> ButtonPressedOk { get; set; }
    private Modal modal = default!;
    // private async Task ShowEmployeeComponent()
    // {        
    //     var parameters = new Dictionary<string, object>();
    //     parameters.Add("CurrentDevice", CurrentDevice);
    //     parameters.Add("CurrentUser", CurrentUser);
    //     await modal.ShowAsync<AddEditDeviceTest>(title: "Device Details", parameters: parameters);
    // }

    public async Task OnHideModalEditDeviceClick()
    {
        await modal.HideAsync();
    }
}
